In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

626

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [7]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [8]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [11]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 7 | teknaf
Processing Record 2 of Set 7 | quatre cocos
Processing Record 3 of Set 7 | rikitea
Processing Record 4 of Set 7 | cidreira
Processing Record 5 of Set 7 | thinadhoo
Processing Record 6 of Set 7 | mataura
Processing Record 7 of Set 7 | olafsvik
Processing Record 8 of Set 7 | phalaborwa
Processing Record 9 of Set 7 | saint george
Processing Record 10 of Set 7 | dabakala
Processing Record 11 of Set 7 | prado
Processing Record 12 of Set 7 | longyearbyen
Processing Record 13 of Set 7 | yellowknife
Processing Record 14 of Set 7 | grindavik
Processing Record 15 of Set 7 | gohpur
Processing Record 16 of Set 7 | east london
Processing Record 17 of Set 7 | ouesso
Processing Record 18 of Set 7 | albany
Processing Record 19 of Set 7 | namatanai
Processing Record 20 of Set 7 | khandyga
Processing Record 21 of Set 7 | kodiak
Processing Record 22 of Set 7 | ushuaia
Processing Record 23 of Set 7 | college
Processing Record 24 of Set 7 | kapchorwa
Processing Record 25 of Set 7 | jamestown
Processing Record 26 of Set 7 | olinda
Processing Record 27 of Set 7 | cayenne
Processing Record 28 of Set 7 | bathsheba
Processing Record 29 of Set 7 | busselton
Processing Record 30 of Set 7 | bredasdorp
Processing Record 31 of Set 7 | avarua
Processing Record 32 of Set 7 | atuona
Processing Record 33 of Set 7 | pangnirtung
Processing Record 34 of Set 7 | dingle
Processing Record 35 of Set 7 | cordoba
Processing Record 36 of Set 7 | boyolangu
Processing Record 37 of Set 7 | kapaa
Processing Record 38 of Set 7 | new norfolk
Processing Record 39 of Set 7 | punta arenas
Processing Record 40 of Set 7 | taolanaro
City not found. Skipping...
Processing Record 41 of Set 7 | tazovskiy
Processing Record 42 of Set 7 | vaini
Processing Record 43 of Set 7 | sitka
Processing Record 44 of Set 7 | qaanaaq
Processing Record 45 of Set 7 | saskylakh
Processing Record 46 of Set 7 | carnarvon
Processing Record 47 of Set 7 | sao joao da barra
Processing Record 48 of Set 7 | puerto ayora
Processing Record 49 of Set 7 | sur
Processing Record 50 of Set 7 | alofi
Processing Record 1 of Set 8 | destin
Processing Record 2 of Set 8 | ukiah
Processing Record 3 of Set 8 | skalistyy
City not found. Skipping...
Processing Record 4 of Set 8 | ribeira grande
Processing Record 5 of Set 8 | barentsburg
City not found. Skipping...
Processing Record 6 of Set 8 | camana
Processing Record 7 of Set 8 | tautira
Processing Record 8 of Set 8 | laela
Processing Record 9 of Set 8 | mount isa
Processing Record 10 of Set 8 | omsukchan
Processing Record 11 of Set 8 | okhotsk
Processing Record 12 of Set 8 | tsihombe
City not found. Skipping...
Processing Record 13 of Set 8 | elliot lake
Processing Record 14 of Set 8 | kingisepp
Processing Record 15 of Set 8 | kjustendil
Processing Record 16 of Set 8 | clovis
Processing Record 17 of Set 8 | port alfred
Processing Record 18 of Set 8 | barrow
Processing Record 19 of Set 8 | taburi
City not found. Skipping...
Processing Record 20 of Set 8 | gay
Processing Record 21 of Set 8 | tuatapere
Processing Record 22 of Set 8 | severo-kurilsk
Processing Record 23 of Set 8 | nikolskoye
Processing Record 24 of Set 8 | amderma
City not found. Skipping...
Processing Record 25 of Set 8 | novobirilyussy
Processing Record 26 of Set 8 | praia da vitoria
Processing Record 27 of Set 8 | tiksi
Processing Record 28 of Set 8 | mahajanga
Processing Record 29 of Set 8 | bambous virieux
Processing Record 30 of Set 8 | xam nua
Processing Record 31 of Set 8 | rawson
Processing Record 32 of Set 8 | gonaives
Processing Record 33 of Set 8 | zaysan
Processing Record 34 of Set 8 | cattolica
Processing Record 35 of Set 8 | nizhneyansk
City not found. Skipping...
Processing Record 36 of Set 8 | kavieng
Processing Record 37 of Set 8 | maua
Processing Record 38 of Set 8 | gainesville
Processing Record 39 of Set 8 | buala
Processing Record 40 of Set 8 | pisco
Processing Record 41 of Set 8 | bluff
Processing Record 42 of Set 8 | ilulissat
Processing Record 43 of Set 8 | kuche
City not found. Skipping...
Processing Record 44 of Set 8 | porto novo
Processing Record 45 of Set 8 | tasiilaq
Processing Record 46 of Set 8 | mandal
Processing Record 47 of Set 8 | wanning
Processing Record 48 of Set 8 | mar del plata
Processing Record 49 of Set 8 | salamanca
Processing Record 50 of Set 8 | lagoa
Processing Record 1 of Set 9 | salalah
Processing Record 2 of Set 9 | sept-iles
Processing Record 3 of Set 9 | togur
Processing Record 4 of Set 9 | mahebourg
Processing Record 5 of Set 9 | port hardy
Processing Record 6 of Set 9 | te anau
Processing Record 7 of Set 9 | kruisfontein
Processing Record 8 of Set 9 | vestmanna
Processing Record 9 of Set 9 | vostok
Processing Record 10 of Set 9 | pirgos
Processing Record 11 of Set 9 | faanui
Processing Record 12 of Set 9 | hilo
Processing Record 13 of Set 9 | itacurubi del rosario
Processing Record 14 of Set 9 | khatanga
Processing Record 15 of Set 9 | narsaq
Processing Record 16 of Set 9 | lebu
Processing Record 17 of Set 9 | tabiauea
City not found. Skipping...
Processing Record 18 of Set 9 | doha
Processing Record 19 of Set 9 | farafangana
Processing Record 20 of Set 9 | bua yai
Processing Record 21 of Set 9 | saldanha
Processing Record 22 of Set 9 | nantucket
Processing Record 23 of Set 9 | inhambane
Processing Record 24 of Set 9 | phibun mangsahan
Processing Record 25 of Set 9 | ulladulla
Processing Record 26 of Set 9 | lavrentiya
Processing Record 27 of Set 9 | bayji
Processing Record 28 of Set 9 | tiebissou
Processing Record 29 of Set 9 | san fernando
Processing Record 30 of Set 9 | grand river south east
City not found. Skipping...
Processing Record 31 of Set 9 | umm lajj
Processing Record 32 of Set 9 | yar-sale
Processing Record 33 of Set 9 | taoudenni
Processing Record 34 of Set 9 | amuntai
Processing Record 35 of Set 9 | chiang khong
Processing Record 36 of Set 9 | bubaque
Processing Record 37 of Set 9 | tucurui
Processing Record 38 of Set 9 | marcona
City not found. Skipping...
Processing Record 39 of Set 9 | isangel
Processing Record 40 of Set 9 | maldonado
Processing Record 41 of Set 9 | tuktoyaktuk
Processing Record 42 of Set 9 | illoqqortoormiut
City not found. Skipping...
Processing Record 43 of Set 9 | xiaolingwei
Processing Record 44 of Set 9 | moron
Processing Record 45 of Set 9 | yambio
Processing Record 46 of Set 9 | hithadhoo
Processing Record 47 of Set 9 | beringovskiy
Processing Record 48 of Set 9 | santa isabel do rio negro
Processing Record 49 of Set 9 | vaitupu
City not found. Skipping...
Processing Record 50 of Set 9 | iisalmi
Processing Record 1 of Set 10 | nishihara
Processing Record 2 of Set 10 | upernavik
Processing Record 3 of Set 10 | alice town
Processing Record 4 of Set 10 | chernyshevskiy
Processing Record 5 of Set 10 | alberton
Processing Record 6 of Set 10 | hobart
Processing Record 7 of Set 10 | pokhara
Processing Record 8 of Set 10 | mata
Processing Record 9 of Set 10 | kaitangata
Processing Record 10 of Set 10 | port elizabeth
Processing Record 11 of Set 10 | jiujiang
Processing Record 12 of Set 10 | hermanus
Processing Record 13 of Set 10 | laguna
Processing Record 14 of Set 10 | sao filipe
Processing Record 15 of Set 10 | karauzyak
City not found. Skipping...
Processing Record 16 of Set 10 | la ronge
Processing Record 17 of Set 10 | taltal
Processing Record 18 of Set 10 | kahului
Processing Record 19 of Set 10 | ketchikan
Processing Record 20 of Set 10 | chokurdakh
Processing Record 21 of Set 10 | mgachi
Processing Record 22 of Set 10 | assiniboia
Processing Record 23 of Set 10 | dzhebariki-khaya
Processing Record 24 of Set 10 | sao raimundo das mangabeiras
Processing Record 25 of Set 10 | wukari
Processing Record 26 of Set 10 | terney
Processing Record 27 of Set 10 | norman wells
Processing Record 28 of Set 10 | pascagoula
Processing Record 29 of Set 10 | cockburn town
Processing Record 30 of Set 10 | samalaeulu
City not found. Skipping...
Processing Record 31 of Set 10 | ruatoria
City not found. Skipping...
Processing Record 32 of Set 10 | lorengau
Processing Record 33 of Set 10 | svobodnyy
Processing Record 34 of Set 10 | zharkent
Processing Record 35 of Set 10 | pitimbu
Processing Record 36 of Set 10 | placer
Processing Record 37 of Set 10 | tiznit
Processing Record 38 of Set 10 | nemuro

Processing Record 39 of Set 10 | grand gaube
Processing Record 40 of Set 10 | pevek
Processing Record 41 of Set 10 | bandipur
Processing Record 42 of Set 10 | lasa
Processing Record 43 of Set 10 | marawi
Processing Record 44 of Set 10 | banda aceh
Processing Record 45 of Set 10 | bridlington
Processing Record 46 of Set 10 | magadan
Processing Record 47 of Set 10 | ruteng
Processing Record 48 of Set 10 | tual
Processing Record 49 of Set 10 | katherine
Processing Record 50 of Set 10 | saint-philippe

KeyboardInterrupt:

In [14]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Teknaf,20.8624,92.3058,74.35,84,84,3.76,BD,2021-12-05 18:31:05
1,Quatre Cocos,-20.2078,57.7625,79.09,70,28,12.66,MU,2021-12-05 18:31:06
2,Rikitea,-23.1203,-134.9692,75.76,75,98,7.85,PF,2021-12-05 18:31:06
3,Cidreira,-30.1811,-50.2056,72.97,81,38,15.90,BR,2021-12-05 18:31:06
4,Thinadhoo,0.5333,72.9333,81.91,80,100,19.44,MV,2021-12-05 18:31:07
5,Mataura,-46.1927,168.8643,45.48,95,100,2.26,NZ,2021-12-05 18:31:07
6,Olafsvik,64.8945,-23.7142,42.12,90,100,23.64,IS,2021-12-05 18:31:07
7,Phalaborwa,-23.9430,31.1411,78.08,58,100,6.33,ZA,2021-12-05 18:31:08
8,Saint George,37.1041,-113.5841,67.35,42,1,4.61,US,2021-12-05 18:28:02
9,Dabakala,8.3667,-4.4333,84.52,23,10,2.55,CI,2021-12-05 18:31:08

In [15]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]

In [17]:
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Teknaf,BD,2021-12-05 18:31:05,20.8624,92.3058,74.35,84,84,3.76
1,Quatre Cocos,MU,2021-12-05 18:31:06,-20.2078,57.7625,79.09,70,28,12.66
2,Rikitea,PF,2021-12-05 18:31:06,-23.1203,-134.9692,75.76,75,98,7.85
3,Cidreira,BR,2021-12-05 18:31:06,-30.1811,-50.2056,72.97,81,38,15.90
4,Thinadhoo,MV,2021-12-05 18:31:07,0.5333,72.9333,81.91,80,100,19.44

In [18]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")